<?xml version="1.0"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>Vaccine Designer</display-name>
    <servlet>
        <servlet-name>Vaccine Designer</servlet-name>
        <servlet-class>com.vaadin.server.VaadinServlet</servlet-class>

        <init-param>
            <param-name>UI</param-name>
            <param-value>life.qbic.MyPortletUI</param-value>
        </init-param>

    </servlet>

    <servlet-mapping>
        <servlet-name>Vaccine Designer</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>
